.kekkai-field {
  div.kekkai-display {
    vertical-align: middle;
    align-items: center;
  }
  div.kekkai-editor {
    margin-bottom: -1px;
    &>* {
      width: 100%;
    }
  }
  &.invalid * {
    cursor: help;
  }
}